.loader {
    text-align: center;
    background-color: #96d0f2;
}

.k-switch-on .k-switch-track {
    border-color: #58b1ff;
    color: white;
    background-color: #58b1ff;
}

.k-switch-md .k-switch-track {
    margin-left: 35px;
}

.k-switch-md .k-switch-thumb {
    margin-left: 35px;
}