<kendo-switch [(ngModel)]="checked"></kendo-switch>

<div class="posts" *ngIf="(posts.length>0); else elseBlock">
    <kendo-grid
    class="main"
    [data]="posts" 
    [kendoGridBinding]="posts" 
    [pageable]="true" 
    [pageSize]="12"
    [resizable]="true" 
    [sortable]="true"
    [selectable]="true"
    >
        <kendo-grid-column *ngIf="checked" field="userId" title="User Id" [width]="100" [headerStyle]="{ 'background-color': '#96d0f2' }" [headerClass]="'headerCustomClass'"></kendo-grid-column>
        <kendo-grid-column field="id" title="ID" [width]="100" [headerStyle]="{ 'background-color': '#96d0f2' }" [headerClass]="'headerCustomClass'"></kendo-grid-column>
        <kendo-grid-column field="title" title="Title"  [headerStyle]="{ 'background-color': '#96d0f2' }" [headerClass]="'headerCustomClass'"></kendo-grid-column>
        <kendo-grid-column field="body" title="Body" [headerStyle]="{ 'background-color': '#96d0f2' }" [headerClass]="'headerCustomClass'"> </kendo-grid-column>
    </kendo-grid>
</div>
<ng-template #elseBlock>
    <h1 class="loader">Loading...</h1>
</ng-template>